In [7]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.read_csv("fatal_inc.csv")
df2 = pd.read_csv("near_miss.csv")

In [16]:
#Check for null values 
df1.isnull().sum(), df2.isnull().sum()

(Unnamed: 0      0
 Activity:      39
 Cause:          0
 Country:        0
 Employer:       0
 Fatalities:     0
 Location:       0
 Region:         0
 Year:           0
 dtype: int64, Unnamed: 0     0
 Activity:     37
 Cause:         0
 Country:       0
 Function:      0
 Location:      0
 Region:        0
 Year:          0
 dtype: int64)

In [19]:
df1.shape, df2.shape

((401, 9), (454, 8))

We  notice the Actitivy column has cells with null values. The rows would be deleted.

In [21]:
df1 = df1.dropna(how='any',axis=0)
df2 = df2.dropna(how='any',axis=0)

In [22]:
#REcheck for null values 
df1.isnull().sum(), df2.isnull().sum()

(Unnamed: 0     0
 Activity:      0
 Cause:         0
 Country:       0
 Employer:      0
 Fatalities:    0
 Location:      0
 Region:        0
 Year:          0
 dtype: int64, Unnamed: 0    0
 Activity:     0
 Cause:        0
 Country:      0
 Function:     0
 Location:     0
 Region:       0
 Year:         0
 dtype: int64)

In [26]:
df1.to_csv("fatal_inc_clean.csv")
df2.to_csv("near_miss_clean.csv")