We would make attempt to scrape the blocks of essays instead.

In [6]:
import requests
from bs4 import BeautifulSoup

In [101]:
url = "https://safetyzone.iogp.org/FatalIncidents/detail.asp?inc_id=8662"

In [ ]:
response = requests.get(url)

In [ ]:
soup1 = BeautifulSoup(response.content, 'html.parser')

We can access all the data by iterating throught the incident numbers, we just need to make room for any errors and null values involved.

In [ ]:
#parse to find required data 
fields = soup1.find("table", class_="listTable")
data = fields.find_all("td")
table = data[4].find_all("h5")

haz = []
for vals in table:
  haz.append(vals.text)

tabs = {haz[0]:haz[1], haz[3]:haz[4], haz[5]:haz[6],haz[7]:haz[8], haz[9]:haz[10], haz[11]:haz[12], haz[13]:haz[14],haz[15]:haz[16]}
tabs

{'Activity:': 'Drilling, workover, well services',
 'Cause:': 'Explosions or burns',
 'Country:': 'ALGERIA',
 'Employer:': 'Contractor',
 'Fatalities:': '1',
 'Location:': 'Onshore',
 'Region:': 'Africa',
 'Year:': '2018'}

In [3]:
#function to get url and content
def get_url(val):

  base_url = "https://safetyzone.iogp.org/FatalIncidents/detail.asp?inc_id="
  url_main = base_url + str(val)
  response = requests.get(url_main)
  soup = BeautifulSoup(response.content, "html.parser")
  return soup

In [4]:
#Function to parse document and extract necessary fields

def parse_fields(content):
  fields = content.find("table", class_="listTable")
  data = fields.find_all("td")
  table = data[4].find_all("h5")
  
  haz = []
  for vals in table:
    haz.append(vals.text)

  tabs = {haz[0]:haz[1], haz[3]:haz[4], haz[5]:haz[6],haz[7]:haz[8], haz[9]:haz[10], haz[11]:haz[12], haz[13]:haz[14],haz[15]:haz[16]}
  return tabs

In [ ]:
#Now to import time and parse through 200 / / incidents randint(1298, 8662)
#we would create a function to do this 
#The incident numbers dont follow a pattern so we will get some errors when the page doesnt exist so we would break and continue for cases like this.
#THis is a wider range so I'm experiencing low yield so i will Extract in smaller ranges and append to one dataframe
from random import seed
from random import randint


def scrape():
  tot = []
  seed(5) # seed random number generator
  
  for _ in range(500): # generate some integers
    val = randint(6000, 8662)

    try:
      tot.append(parse_fields(get_url(val)))
    except IndexError:
      continue
  tot
    
  return tot

fatal = scrape()

In [17]:
fatal[1]

IndexError: list index out of range

In [11]:
#import necessary modules
import pandas as pd

fatal1 = pd.DataFrame(fatal, columns=["Activity:","Cause:","Country:", "Employer:","Fatalities:","Location:","Region:","Year:"])
fatal1.head()

,Activity:,Cause:,Country:,Employer:,Fatalities:,Location:,Region:,Year:
0,Transport - Land,Struck by,RUSSIA,Company,1,Onshore,Russia & Central Asia,2008
1,"Construction, commissioning, decommissioning","Caught in, under or between (excl. dropped obj...",BRUNEI,Contractor,1,Onshore,Asia/Australasia,2004
2,"Lifting, crane, rigging, deck operations","Caught in, under or between (excl. dropped obj...",ARGENTINA,Contractor,1,Onshore,South & Central America,2015
3,"Maintenance, inspection, testing",Falls from height,MEXICO,Company,1,Onshore,North America,2000
4,Transport - Land,Struck by,ROMANIA,Company,1,Onshore,Europe,2008

In [14]:
fatal2 = pd.DataFrame(fatal, columns=["Activity:","Cause:","Country:", "Employer:","Fatalities:","Location:","Region:","Year:"])
fatal2.head()

,Activity:,Cause:,Country:,Employer:,Fatalities:,Location:,Region:,Year:
0,null,"Water related, drowning",NIGERIA,no data,0,Onshore,Africa,1999
1,Transport - Air,Struck by,USA,no data,2,Offshore,North America,1999
2,null,Falls from height,NIGERIA,Contractor,1,Onshore,Africa,1991
3,null,Falls from height,VENEZUELA,Company,1,Onshore,South & Central America,1991
4,Transport - Air,Struck by,VENEZUELA,Contractor,2,Onshore,South & Central America,1991

In [ ]:
fatal3 = pd.DataFrame(fatal, columns=["Activity:","Cause:","Country:", "Employer:","Fatalities:","Location:","Region:","Year:"])
fatal3.head()

In [10]:
fatal1.shape

(88, 8)