We would make attempt to scrape the blocks of essays instead.

In [34]:
import requests
from bs4 import BeautifulSoup

In [35]:
url = "https://safetyzone.iogp.org/FatalIncidents/detail.asp?inc_id=8662"

In [36]:
response = requests.get(url)

In [37]:
soup1 = BeautifulSoup(response.content, 'html.parser')

We can access all the data by iterating throught the incident numbers, we just need to make room for any errors and null values involved.

In [38]:
#parse to find required data 
fields = soup1.find("table", class_="listTable")
data = fields.find_all("td")
table = data[4].find_all("h5")

haz = []
for vals in table:
  haz.append(vals.text)

tabs = {haz[0]:haz[1], haz[3]:haz[4], haz[5]:haz[6],haz[7]:haz[8], haz[9]:haz[10], haz[11]:haz[12], haz[13]:haz[14],haz[15]:haz[16]}

In [3]:
#function to get url and content
def get_url(val):

  base_url = "https://safetyzone.iogp.org/FatalIncidents/detail.asp?inc_id="
  url_main = base_url + str(val)
  response = requests.get(url_main)
  soup = BeautifulSoup(response.content, "html.parser")
  return soup

In [4]:
#Function to parse document and extract necessary fields

def parse_fields(content):
  fields = content.find("table", class_="listTable")
  data = fields.find_all("td")
  table = data[4].find_all("h5")
  
  haz = []
  for vals in table:
    haz.append(vals.text)

  tabs = {haz[0]:haz[1], haz[3]:haz[4], haz[5]:haz[6],haz[7]:haz[8], haz[9]:haz[10], haz[11]:haz[12], haz[13]:haz[14],haz[15]:haz[16]}
  return tabs

In [18]:
#Now to import time and parse through 200 / / incidents randint(1298, 8662)
#we would create a function to do this 
#The incident numbers dont follow a pattern so we will get some errors when the page doesnt exist so we would break and continue for cases like this.
#THis is a wider range so I'm experiencing low yield so i will Extract in smaller ranges and append to one dataframe
from random import seed
from random import randint


def scrape():
  tot = []
  seed(5) # seed random number generator
  
  for _ in range(500): # generate some integers
    val = randint(6000, 8662)

    try:
      tot.append(parse_fields(get_url(val)))
    except IndexError:
      continue #Required for the null Indent values and the None value entries in the parse function
  tot
    
  return tot

fatal = scrape()

In [21]:
fatal[1]

283

In [31]:
#import necessary modules
import pandas as pd

fatal1 = pd.DataFrame(fatal, columns=["Activity:","Cause:","Country:", "Employer:","Fatalities:","Location:","Region:","Year:"])
fatal1.head(3)

,Activity:,Cause:,Country:,Employer:,Fatalities:,Location:,Region:,Year:
0,Transport - Land,Struck by,LIBYA,Contractor,1,Onshore,Africa,2005
1,"Construction, commissioning, decommissioning",Struck by,CANADA,Contractor,1,Onshore,North America,2013
2,"Maintenance, inspection, testing",Struck by,ARGENTINA,Contractor,1,Onshore,South & Central America,2007

In [30]:
fatal2 = pd.DataFrame(fatal, columns=["Activity:","Cause:","Country:", "Employer:","Fatalities:","Location:","Region:","Year:"])

In [29]:
fatal3 = pd.DataFrame(fatal, columns=["Activity:","Cause:","Country:", "Employer:","Fatalities:","Location:","Region:","Year:"])

In [23]:
fatal3.shape

(283, 8)

In [28]:
#Mereing the 3 batches of data scraped
fatal_df = fatal2.append(fatal3, ignore_index = True) 
fatal_fin = fatal1.append(fatal_df, ignore_index = True) 
fatal_fin.shape

(401, 8)

In [40]:
fatal_fin.describe()

,Activity:,Cause:,Country:,Employer:,Fatalities:,Location:,Region:,Year:
count,401,401,401,401,401,401,401,401
unique,13,11,54,3,10,3,7,22
top,Transport - Land,Struck by,NIGERIA,Contractor,1,Onshore,Africa,2000
freq,119,175,48,293,313,300,101,32

In [43]:
fatal_fin.to_csv("fatal_inc.csv")